*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 242, 242);
}

header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(0, 0, 0);
}

/* .boxContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

h1 {
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 900) {
    #menu_links {
    display: none;
  }

  .boxContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#menu{
  background-color: rgb(255, 255, 255);
  width: 200px;
  margin: 15px auto;
  border: 1px solid black;
}

#menu a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
  padding: 1em;
}

#menu #menu_link:hover a{
  background-color: rgba(0, 0, 0, 0.2);
}

.sectionService {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

}


/*#menu_links{
  display: none;
}*/

@media only screen and (max-width: 900) {
    #menu_links{
  display: none;
  }

  #burger:checked ~ #menu_links{
  display: none;
}

#burger{
  vertical-align: middle;
}

}

/* #menu{
  background-color: darkcyan;
  width: 200px;
  margin: 15px auto;
  border: 1px solid black;
}

#menu a{
  text-decoration: none;
  color: whitesmoke;
  display: block;
  padding: 1em;
}

#menu #menu_link:hover a{
  background-color: rgba(0, 0, 0, 0.2);
} */

/* #menu_bars{
  text-align: right;
} */

.sectionWelcome {
    margin-top: 40px;
    padding-top: 20px;
    padding-left: 80px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sectionService > h2 {
  margin-top: 30px;
  text-align: center;
}

.articleServices {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.articleServices > p {
  margin-top: 30px;
}


footer {
   margin-top: 50px;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
   background-color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
}

.divFooter > p {
  color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

